{{!-- product specification stylesheet --}}
<link rel="stylesheet" href="/stylesheets/prod-details.css">
{{!-- product specification stylesheet --}}

<div class="container">
    <article class="card">
        <div class="row">
            <div class="col-md-6">
                <div class="item-img">
                    {{!-- product image --}}
                    <img src="/images/{{products._id}}.jpg" style="width: 100%;" alt="">
                </div>
            </div>
            {{!-- grid-column --}}

            <div class="col-md-6 text-center">
                <div class="mt-4 item-details">
                    <div>
                        <h4><b>{{products.Title}} {{products.Item}}</b></h4>
                        <h6>{{products.Variety}} <span class="text-muted"
                                style="text-transform: lowercase;">({{products.Category}})</span></h6>
                        <h5 class="item-price"><b>₹ {{products.Price}} /-</b></h5>
                        <a  href="/admin/update-products/{{products._id}}"><i class="fa fa-pencil update-btn" aria-hidden="true"></i></a>
                    </div>
                    <div>
                        <h6 class="item-desc-head">details about this meal</h6>
                        <p>{{products.Description}}</p>
                    </div>
                    <div>
                        <h6 class="item-desc-head">Ingredients</h6>
                        <p>{{products.Ingredients}}</p>
                    </div>
                </div>
                {{!-- item-details --}}
            </div>
            {{!-- grid-column --}}
        </div>
        {{!-- grid-row --}}
    </article>
</div>
{{!-- container --}}

<style>
    
@keyframes mymove {
    from {
        top: -140px;
    }

    to {
        top: 80px;
    }
}
.item-details .update-btn {
    color: #dc3545;
    margin-top: 10px;
    margin-bottom: 35px;
}
</style>