{{!-- stylesheet for admin order page --}}
<link rel="stylesheet" href="/stylesheets/admin-view-order.css">
{{!-- stylesheet for admin order page --}}

<section class="order-table mb-2">
    <div class="container cont mt-5">
        <table class="table">
            <h3 class="text-muted text-center mt-3 mb-3">User's Order</h3>
            <thead>
                <tr class="title-head">
                    <th scope="col">Order Id</th>
                    <th scope="col">Info</th>
                    <th scope="col">Total</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>


                </tr>
            </thead>
            <tbody>
                {{!-- order details looping --}}
                {{#each orders}}
                <tr class="">
                    <td style="padding-top: 76px;">{{this._id}}</td>
                    <td class="pt-4 info">
                        <p class="mb-0 pb-0">{{this.deliveryDetails.Name}}</p><br>
                        <p class="mb-0 pb-0">{{this.deliveryDetails.Address}}</p><br>
                        <p class="mb-0 pb-0">{{this.deliveryDetails.City}} {{this.deliveryDetails.Pincode}}</p><br>
                        <p class="mb-0 pb-0">near {{this.deliveryDetails.Landmark}}</p><br>
                        <p class="mb-0 pb-0">{{this.deliveryDetails.Mobile}}</p><br>
                    </td>
                    <td style="padding-top: 76px;">₹ {{this.totalAmount}}/-</td>
                    <td style="padding-top: 76px;">{{date}}</td>
                    <td style="padding-top: 76px;">
                        <a href="/admin/order-products/{{this._id}}"
                            class="action-btn"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </td>

                </tr>
                {{/each}}
                {{!-- order details looping --}}
            </tbody>
        </table>
    </div>
    {{!-- container --}}
</section>
{{!-- section --}}

