<section class="cart-table mb-2">

    <div class="container mt-5">
        <table class="table">
            <h3 class="text-center text-muted mt-3 mb-3">My Cart</h3>
            <thead>
                <tr class="item-head">
                    <th scope="col"></th>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col" style="padding-left: 60px;">Qty</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>
                        <img class="d-none d-md-block" src="/images/{{this.product._id}}.jpg" alt="">
                    </td>
                    <td class="item-details">{{this.product.Title}} {{this.product.Item}}</td>
                    <td class="item-details">₹ {{this.product.Price}} /-</td>
                    <td class="item-details pl-3">
                        <button class="cart-item-count minuse-btn mr-2"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>

                        <button class="cart-item-count plus-btn ml-2"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>

                    </td>
                    <td class="item-details">Total</td>
                    <td class="item-details">
                        <a href="#" class="remove-btn text-danger d-none d-sm-block"><span
                                class="fa fa-times mr-1"></span><b>Remove</b></a>
                        <a href="#" class="remove-btn text-danger d-sm-none"><span
                                class="fa fa-times mr-1"></span></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
<section class="cart-footer">
    <div class="container">
        <div class="float-right mt-3 mb-3 mr-5">
            <h3>Grand Total: ₹ 10000/-</h3>
            <a href="#" class="btn">Place order</a>
        </div>
        <a href="/" class="btn home-btn">Add more pizza</a>
    </div>
</section>
<style>
    body {
        background-color: #eee;
        font-family: 'poppins', sans-serif;
    }

    .container {
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 10px;
        overflow: hidden;
    }

    .item-head {
        color: grey;
        font-size: 13px;
    }

    button {
        border: 1px solid #f52b07;
        width: 40px;
        border-radius: 15px;
        font-weight: 500;
        background-color: unset;
    }

    button:focus {
        outline: none;
    }

    .item-details {
        padding-top: 40px !important;
    }

    .cart-table h3 {
        font-size: 20px;
    }

    tbody td img {
        width: 100px;
        height: 90px;
        border-radius: 20px;
    }

    .remove-btn {
        font-size: 13px;
        text-decoration: none !important;
    }

    .remove-btn:hover {
        color: rgb(177, 9, 9) !important;
    }

    .cart-footer h3 {
        font-size: 18px;
        font-weight: 600;
    }

    .cart-footer a {
        text-decoration: none;
        width: 160px;
        margin-left: 15px;
            border-color: #dc3545;
            color: #dc3545;
            border-radius: 10px;
        }

        .cart-footer a:hover {
            background-color: #dc3545;
            color: white;
    }
    .home-btn{
        margin-top: 45px;
    }

    @media only screen and (min-width:320px) and (max-width:992px){
        .table td, .table th{
            font-size: 13px;
        }
    }
    @media only screen and (min-width:576px) and (max-width:767px){
        .container{
            max-width: 100%;
        }
        .cart-footer a{
            width: 135px;
            margin-left: 13px;
            font-size: 13px;
        }
        .cart-footer h3{
            font-size: 15px;
        }
        .home-btn{
            margin-top: 42px;
        }
    }
    @media only screen and (max-width:575px){
        button{
            width: 30px;
        }
        .minuse-btn{
            margin-right: 2px !important;
        }
        .plus-btn{
            margin-left: 2px !important;
        }
        .table td, .table th{
            font-size: 11px;
            padding: 0;
        }
        .cart-footer a{
            width: 100px;
            margin-left: 16px;
            font-size: 11px;
        }
        .cart-footer h3{
            font-size: 13px;
        }
        .home-btn{
            margin-top: 40px;
        }
    }
</style>