<link rel="stylesheet" href="/stylesheets/cart.css">

<div class="remove"><span id="removeType" class=""></span></div>
<section class="cart-table mb-2">
    <div class="container cont mt-5">
        <table class="table">
            <h3 class="text-center text-muted mt-3 mb-3">My Cart</h3>
            <thead>
                <tr class="item-head">
                    <th scope="col"></th>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col" style="padding-left: 60px;">Qty</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>
                        <img class="d-none d-md-block" src="/images/{{this.product._id}}.jpg" alt="">
                    </td>
                    <td class="item-details">{{this.product.Title}} {{this.product.Item}}</td>
                    <td class="item-details">₹ {{this.product.Price}} /-</td>
                    <td class="item-details pl-3">
                        <button class="cart-item-count minuse-btn mr-2"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>

                        <button class="cart-item-count plus-btn ml-2"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)">+</button>

                    </td>
                    
                    <td class="item-details">
                        <a onclick="removeCartItem('{{this._id}}','{{this.product._id}}','{{../user}}')" class="remove-btn text-danger d-none d-sm-block"><span
                                class="fa fa-times mr-1"></span><b>Remove</b></a>
                        <a onclick="removeCartItem('{{this._id}}','{{this.product._id}}','{{../user}}')" class="remove-btn text-danger d-sm-none"><span
                                class="fa fa-times mr-1"></span></a>
                        
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
<section class="cart-footer">
    <div class="container cont">
        <div class="float-right mt-3 mb-3 mr-5">
            <h3>Grand Total: ₹ <span id="total" class="text-success">{{totalValue}}</span>/-</h3>
            <a href="/place-order" class="btn">Place order</a>
        </div>
        <a href="/" class="btn home-btn">Add more pizza</a>
    </div>
</section>

<footer class="mainFooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 my-3">
                    <div class="footer-pad">
                        <h4>Address</h4>
                        <p>Pizza Hub</p>
                        <p>Thazhechovva,kannur</p>
                        <p>Kerala,pin:670003</p>
                        <p>pizzahub@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <div class="footer-pad">
                        <h4>Opening Hours</h4>
                        <p>Monday-Friday</p>
                        <p>09.00 am - 10.00 pm</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <div class="footer-pad">
                        <h4>Book a Table</h4>
                        <p>Eating Hot and Spicy Pizza is best thing to consider</p>
                        <p>+91 8848474156</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 my-3 mb-5">
                    <div class="footer-pad">
                        <h4>Follow Us</h4>
                        <div class="social-btns">
                            <a href="#" class="btn facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="btn linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="#" class="btn instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 copyright">
                    <p class="text-center">© Copyright 2021 - Pizza Hub. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>



<style>
    .remove{  
    position:fixed;
    z-index: 10000;
    top:20px;
    width:350px;
    right: 10px;
    height:0;  
    box-sizing:border-box;
    color:white;  
    text-align:center;
    background:#f86503f3;
    border-radius: 25px;
    overflow:hidden;
    box-sizing:border-box;
    transition:height .2s;
  }
  #removeType:before{
    display:block;
    margin-top:15px; 
    
  }
  
  .removeActive{  
    height:50px;
  }
  
  .removeSuccess:before{
    Content:"item removed from cart !";
  }
  
  @media only screen and (max-width:576px){
    .remove{
        width: 250px;
    }
}
</style>