<link rel="stylesheet" href="/stylesheets/my-order.css">

<div class="col-md-12 col-12">

    <section class="cart-table mb-2">
        <div class="container cont mt-5">
            <table class="table">
                <h3 class="text-center text-muted mt-3 mb-3">My Order</h3>
                <thead>
                    <tr class="order-head">
                        <th scope="col">Order ID</th>
                        <th scope="col" class="d-none d-md-block">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>

                        <td class="id-td ">
                            <a href="/view-order-prod/{{this._id}}" class="prod-id">{{this._id}}</a>
                        </td>
                        <td class="d-none d-md-block">₹ <span class="text-success">{{this.totalAmount}}</span> /-</td>
                        <td>{{this.date}}</td>
                        <td>
                            <a href="/view-order-prod/{{this._id}}" class="item-btn d-none d-md-block"><b>View product</b></a>
                        </td>
                        <td>
                            <a href="/view-order-prod/{{this._id}}" class="item-btn d-md-none"><b>View</b></a>
                        </td>
                        <td>
                            <a href="/order-tracking/{{this._id}}" class="item-btn d-none d-md-block"><b>Track order</b></a>
                        </td>
                        <td>
                            <a href="/order-tracking/{{this._id}}" class="item-btn d-md-none"><b>Track</b></a>
                        </td>
                    
                    </tr>
                    {{/each}}

                    
                </tbody>
            </table>
        </div>
    </section>
    <section class="cart-footer">
        <div class="container cont text-center">
            <a href="/" class="btn home-btn underlineHover" style="color: #f52b07;">Continue shopping</a>
        </div>
    </section>
</div>

<footer class="mainFooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 my-3">
                    <div class="footer-pad">
                        <h4>Address</h4>
                        <p>Pizza Hub</p>
                        <p>Thazhechovva,kannur</p>
                        <p>Kerala,pin:670003</p>
                        <p>pizzahub@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <div class="footer-pad">
                        <h4>Opening Hours</h4>
                        <p>Monday-Friday</p>
                        <p>09.00 am - 10.00 pm</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <div class="footer-pad">
                        <h4>Book a Table</h4>
                        <p>Eating Hot and Spicy Pizza is best thing to consider</p>
                        <p>+91 8848474156</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 my-3 mb-5">
                    <div class="footer-pad">
                        <h4>Follow Us</h4>
                        <div class="social-btns">
                            <a href="#" class="btn facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="btn linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="#" class="btn instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 copyright">
                    <p class="text-center">© Copyright 2021 - Pizza Hub. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
